<!-- Navigation -->
<nav class="navbar" id="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <img src="../LOGO.png" alt="Mohamed Shahin" class="nav-logo-img">
            <span class="nav-logo-text">Mohamed Shahin</span>
        </div>
        <ul class="nav-menu" id="nav-menu">
            <li class="nav-item">
                <a href="../en/index.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="../en/business-program.html" class="nav-link">Business Program</a>
            </li>
            <li class="nav-item">
                <a href="../en/coaching.html" class="nav-link">Coaching</a>
            </li>
            <li class="nav-item">
                <a href="../en/talks.html" class="nav-link">Talks</a>
            </li>
            <li class="nav-item">
                <a href="../en/story.html" class="nav-link">Story</a>
            </li>
            <li class="nav-item">
                <a href="../en/contact.html" class="nav-link">Contact</a>
            </li>
        </ul>
        <div class="nav-cta">
            <a href="../en/index.html#start-journey" class="btn-nav">Start</a>
        </div>
        <div class="hamburger" id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>